{% extends "layouts.html" %}
{% block content %}


<div class="container-fluid">
<div class="row">

<main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-md-4">
<br>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
  <div class="alert alert-{{category}}">
      <p> {{ message }} </p>
  </div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="col-md-8">  
  <br>
  <form class="needs-validation" action="home" method="POST">
    <input type="hidden" name="formname" value="">
      <div class="mb-3">
        <label>What would you like to share with world.!?</label>
        <textarea class="form-control" 
                            name="comment" placeholder="" required autofocus> </textarea>
        <br>
        <button class="btn btn-sm btn-primary" type="submit">Post Comment</button>
        <hr>
      </div>
  </form>
</div>

    {% for i in comments %}
  <div class="col-sm-8">

    <div class="card">
      <div class="card-body">
        <h6><span data-feather="twitter"></span> {{i['email_id']}}</h6>
        <div class="row">
        <div class="col-sm-8">
          {{i['comment']}}
        </div>

        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="col-sm-12"><h4> No Comments </h4></div>
  {% endfor %}

</main>
</div>
  </div>
  


{% endblock content %}
